body.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.textbox{
    border: 3px solid #2e2e2e;
    border-radius: 8px;
    padding: 1%;


    h1{
        font-size: 1.75em;
    }

    h2{
        margin-top: 0px;
        margin-bottom: 1%;
    }

    p{
        margin-top: 0;
        margin-bottom: 1%;
    }

    img{
        margin-bottom: 5px;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 8px;
        border: 3px solid #4e4e4e;
    }
}

h1{
    text-align: center;
    margin-bottom: 0;
}

div.line{
    height: 3px;
    width: 95%;
    align-self: center;
    background-color: #2e2e2e;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}